<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwt.update">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jwt.update.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".MainReferService"
            android:enabled="true" />

        <receiver android:name=".BootServeiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".JbywWarnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywBjbdListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZhcxMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigBluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigJtfsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigMjgrxxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigParamSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigWfddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigWfdmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigWfdmForceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigWsglActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZhcxConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZhcxQueryResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZhcxOneRecordListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VioJycxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VioQwjgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VioQzcsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VioWftzActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywVioFzjgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywPrintJdsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywPrintJdsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jwt.jbyw.JdsPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywSixSpListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywSixSpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainQueryMjJobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywZhcxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywFxcListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywFxcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcdFindLawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcdFindWfxwActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcdJycxJbqklrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcdRyclJbqkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcdSimpleShowList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcdSsZrTjjgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcdTakePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcdPhotoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QzcsxmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywFxcShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RepairJtssActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RepairShowListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZapcGzxxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZapcRyxxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZapcGzxxListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZapcJdcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZapcXzqhListActitivy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JbywSchoolVehActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>